body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color:darkslategrey;
}
.banner-column{
    background-color:darkslateblue;
}
.navbar-container{
    top:0;
    background-color:#000026;
    position:sticky;
    z-index: 2;
}
.about-container{
    background-color:darkslateblue;
}
.education-container{
    background-color:gainsboro;
}
.education-text{
color:indigo   
}

.circle{
    background-color:#3E5A81;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.skill-container{
    background-color:#3E5A81 ;
}

.form-container{
    background-color: dimgray;
}
.colorcode{
    background-color:mediumturquoise;
}
.colorcode:hover{
    color: black!important;

}

.footer{
    background-color: gainsboro;

}

.footercircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color:whitesmoke;
    font-size: 40px;
    text-align: center;

}

.footercircle:hover{
    background-color:darkgrey;

}